body {
    background: url('hong-kong.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
}

.transparente {
    opacity: 0.8;
}

#titulo {
    color:#a6a6a6;
    font-family:Carrois Gothic SC;
  
}

nav h1 {
    font-size: 5vw;
}
.container h2 {
    font-size: 5vw!important;
}

#nav-tab, #tab-content {
    background-color: rgba(245, 245, 245, 0.8);
}

@media (min-width: 576px) {
    #botones {
        justify-content: flex-end!important;
        padding-right: 25px;
    }
}