/*GALERÃA*/
.galeria {
  border: 0px dotted blue;
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  border: 1px solid black;
  box-shadow: 3px 3px 4px gray;
  margin: 25px 0px;
  overflow: hidden;
}

.box img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: transform .5s ease;
}

.box img:hover {
  transform: scale(1.2);
}

/*LIGHTBOX*/
.modal {
  display: none;
}

.modal .imagen {
  display: flex;
  align-items: center;
  height: 75%;
} 

.modal a, .modal h3 {
  color: white;
}

.modal a {
  text-decoration: none;
  font-size: 3em;
  font-weight: bold;
}

.modal > a {
  width: 100%;
  text-align: center;
}

.imagen > a:first-child, .imagen > a:last-child  {
  height: 300px;
  line-height: 300px;
  margin: 0px 30px;
}

.modal:target {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color:rgba(0,0,0,0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}