main > div {
  border: 0px dotted black;
  margin: auto;
  width: 1050px;
}

.div1 .div-image {
  margin: 10px;
  border: 5px solid blue;
  padding: 10px;
  width: 300px;
  height: auto;
  float:left;
  overflow: hidden;
}

.div-image img {
  transition: transform .5s ease;
}

.div-image:hover img {
  transform: scale(1.5);
}




.div2 {
  clear:left;
}

.div2 .div-image {
  margin: 10px;
  border: 5px solid blue;
  padding: 10px;
  width: 300px;
  height: auto;
  float:left;
}

img{
  width: 300px;
  height: 300px;
}
