/*Header*/
header {
  border: 0px dotted gray;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

header > h1 {
  color: lightgreen;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

/*Nav*/
nav {
  border: 0px dotted gray;
  margin: auto;
  width: 90%;
  background-color: greenyellow;
  overflow: auto;
}

nav a {
  border: 0px solid gray;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 5px 10px;
  float: left;
}

nav .active {
  background-color: green;
}

nav a:hover {
  background-color: lightgreen;
}

/*Principal*/
main {
  border: 0px solid gray;
  margin: 0px auto;
  width: 90%;
  overflow: hidden;
}

main h2 {
  text-align: center;
}