body {
    background-color: #e6ffff;
}
.jumbotron {
    height: 50vw;
    background-image: url("../img/spa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 0;
}

.jumbotron h1 {
    color: #e6ffe6;
    text-shadow: 1px 1px 5px black;
}

.row img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px gray;
}

.row img:hover {
    border: 2px solid lightblue;
}