body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

#sala {
    display: inline-block;
    padding: 25px;
}

#pelicula > p {
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#pantalla {
    margin: 25px auto;
    width: auto;
    height: 100px;
    background-color: white;
}

#simbologia {
    display: flex;
    justify-content: center;
    align-items: center;
}

#simbologia .butaca {
    margin-left: 25px;
    display: inline-block;
}

.fila {
    display: flex;
    width: auto;
}

.butaca {
    margin: 5px;
    width: 25px;
    height: 25px;
    background-color: white;
}

.seleccionado {
    background-color: lightblue;
}

.ocupado {
    background-color: black;
}

#venta {
    margin-top: 25px;
    text-align: center;
}